* {
    font-family: 'Roboto'
    ;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .center {
      margin: 0 auto;
  }

  .fs-32px {
      font-size: 32px;
      line-height: 48px;
      font-weight: bold;
  }

  .fs-24px {
      font-size: 24px;
      line-height: 32px;
  }

  .fs-16px {
      font-size: 16px;
      line-height: 24px;
  }

  .fs-12px {
      font-size: 12px;
      line-height: 16px;
  }

  .text-38423E {
    color: #38423E;
  }
  
  .text-414141 {
    color: #414141;
  }
  
  .text-D1DCD7 {
    color: #D1DCD7;
  }
  
  .bg-A4E1C5 {
    background-color: #A4E1C5;
  }

  .bg-12512 {
    background-color: #121512 !important;
  }

  .bg-ffffff {
      background-color: #ffffff !important;
  }
  .mb-64px {
      margin-bottom: 64px;
  }

  .mb-32px {
      margin-bottom: 32px;
  }

  .mb-24px {
      margin-bottom: 24px;
  }

  /* box */
  .w-200px {
      width: 200px;
  }

  .h-120px {
      height: 120px;
  }

  .border-A4E1C5 {
    border-color: rgba(164,225,197,0.3) !important;
  }

  .bg-000000 {
    background-color: rgba(0,0,0,0.3) !important;
  }